<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>HanimeTV</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.hanimetv</string>
      <key>URLPatterns</key>
      <array>
        <string>^https?:\/\/hanime\.tv\/hentai-videos\/(.+)$</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>https://hanime.tv/hentai-videos/kangoku-senkan-4?r=/search</string>
        <string>https://hanime.tv/hentai-videos/pandra-the-animation-2?r=/hentai-videos/grimoire-of-the-divine-comedy-bonus</string>
        <string>https://hanime.tv/hentai-videos/pandra-the-animation-2</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
